@model Student
<form method="post" asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name">Student Name</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name">CNIC</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="CNIC" class="form-control" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-8 offset-4 row">
                <div class="col">
                    <input type="submit" class="btn btn-info w-100" value="Create" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-success w-100">Back</a>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />

    }
    }
