@model IEnumerable<Student>
    @{
    ViewData["Title"] = "Index";
    }


    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Student List</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-controller="Student" asp-action="Create" class="btn btn-primary">
                    Enroll Student
                </a>
            </div>
        </div>
    </div>

    <br />
    <br />
    @if(Model.Count() > 0)
    {
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>CNIC</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
            <tr>
                <td width="30%">@obj.Name</td>
            
                <td width="50%">@obj.CNIC</td>
                <td>
                    <a asp-controller="Student" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                        Edit
                    </a>
                </td>
            </tr>
            
            }
        </tbody>
    </table>
                      }
